@import '@fortawesome/fontawesome-free/css/all.min.css';

:root {
    --gold: #ffce42;
    color-scheme: light;
}

h3{
    font-size: 47px !important;
    margin: 0px !important;
    font-family: 'Barlow Condensed', Helvetica, Arial, Lucida, sans-serif !important;
    font-weight: 600 !important;
}
body{
    margin: 0;
}

.bg-gold-50{
    background-color: #f4ecd9;
}

.color-gold{
    color: #ffce42;
}

.font-title{
    font-family: 'Barlow Condensed', Helvetica, Arial, Lucida, sans-serif;
}

.fs-sm {
    font-size: 0.875em;
}

.fs-xm {
    font-size: 0.700em;
}
